/* Unrelated to chessground; only for the examples page */
body {
  background-image: linear-gradient(to bottom, #2c2c2c, #1a1a1a 116px);
  color: #b0b0b0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 11px;
}
#chessground-examples {
  margin: 30px 0 0 0;
  display: flex;
  flex-flow: row;
}
#chessground-examples menu {
  flex: 0 0 300px;
  margin: 0 15px 0 0;
}
#chessground-examples menu a {
  display: block;
  cursor: pointer;
  padding: 5px 15px;
}
#chessground-examples menu a:hover {
  background: #333;
}
#chessground-examples menu a.active {
  border-left: 5px solid #b0b0b0;
}
#chessground-examples section {
  display: inline-block;
  background: #404040;
  padding: 10px 12px 10px 12px;
  border-radius: 2px;
}
#chessground-examples section p {
  text-align: center;
  margin: 20px 0 0 0;
}
#chessground-examples control {
  margin-left: 20px;
}
#chessground-examples control .zoom {
  margin-top: 1em;
  display: block;
}
#chessground-examples control .zoom input {
  margin-left: 1em;
  width: 4em;
}

.blue{
  float:left;
}
.info{
  float:left;
  width:50em;
  height:20em;
  margin:1em;
  padding:1em;
  font-size:18px;
  background-color: #a3a3a3;
  color:black;
}

#score{
  color:green
}

#simplescore{
  color:red
}